$color1: #242f41;
$color2: #6a82a0;
$color3: #e0ebf8;
$color4: #859ab2;
$color5: #9db1cb;
$color6: #e0ecfc;

@font-face {
  font-family: afta sans;
  src: url(../../fonts/aftasans.woff2);
}

* {
  margin: 0;
  padding: 0;
  font-family: afta sans;
  font-weight: 100;
}

#admin input {
  float: right;
  margin-right: 5vw;
  margin-top: 10px;
  width: 20vw;
  border: 1px solid $color2;
}

html {
  overflow-x: hidden;
}

.oprettet {
  display: none;
}

.testHeight {
  width: 50px;
  height: 50px;
  background-color: green;
}

#allDonation span {
  text-align: initial;
}

#allDonation ul {
  width: 85%;
  height: 35vh;
  overflow-y: scroll;
}

#allDonation li {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: 11% 32% 57%;
}

#allDonation li:before {
  content: url(../../image/icon_donater_lille.svg);
  width: 71%;
}
.person {
  text-align: center;
}

#login {
  background-color: #fff;
  .wrapper {
    display: grid;
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
    background-color: #fff;

    .loginBox {
      width: 33vw;
      display: grid;
      margin: 5vw;
      padding: 0px 0 4vw 7vw;
      background-color: $color1;
    }
    h2 {
      color: #fff;
      font-size: 1.2vw;
      text-align: left;
    }

    p {
      color: #fff;
      font-size: 0.9vw;
      display: inline-block;
    }

    .wrongPassword {
      display: none;
      text-align: center;
      width: 65%;
      color: red;
    }
    img {
      width: 15vw;
      margin: 1vw 0 0 6vw;
    }

    .pengePlacering {
      width: 26vw;
      height: 3vw;
      font-size: 1vw;
    }

    button {
      width: 11vw;
      height: 2.4vw;
      font-size: 1.2vw;
      color: #fff;
      margin: 0 0.5vw 0 0;
      background-color: $color1;
      border: 0.1vw solid #fff;
    }

    .bottomLogin {
      width: 40vw;
    }
  }
}

.accordion {
  display: none;
}

.headerPopUp {
  height: 11vw;
  width: 60vw;
  background-color: $color2;

  img {
    width: 10vw;
    margin: 1vw 0 0 25vw;
  }
}
.footerPopUp {
  height: 6vw;
  width: 60vw;
  background-color: $color2;
}
.popUp {
  -webkit-box-shadow: 0px 10px 300px 200px rgba(36, 47, 65, 0.46);
  -moz-box-shadow: 0px 10px 300px 200px rgba(36, 47, 65, 0.46);
  box-shadow: 0px 0px 300px 200px rgba(36, 47, 65, 0.6);
  position: fixed;
  width: 60vw;
  left: 19vw;
  height: 46vw;
  background-color: #fff;
  display: none;

  .close {
    width: 8vw;
    position: absolute;
    top: 1vw;
    left: 61vw;
    height: 2vw;
    font-size: 1vw;
    color: #242f41;
    margin: 0 6vw 0 0;
    background-color: #e0ecfc;
    border: 0.1vw solid #242f41;
  }
  #giveDonation {
    height: 4vw;
    grid-column: span 2;
    width: 22vw;
    border-radius: 1vw;
    border: 0.1vw solid #fff;
    justify-self: center;
    margin: 1vw 0 0 18vw;

    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 2vw;
    background-image: url(../../image/givdonationknap.jpg);
  }

  .country,
  .email {
    width: 100%;
  }
  .done {
    display: none;
    height: 32vw;
    grid-template-columns: repeat(2, 1fr);
    margin: 2vw 0 0 0;

    h2,
    span {
      grid-column: span 2;
      font-size: 2.2vw;
      justify-self: center;
      color: $color2;
    }

    img {
      width: 50%;
      justify-self: center;
      grid-column: span 2;
      margin: 2vw 0 2vw 0;
    }
    .buttons {
      grid-column: span 2;
      justify-self: center;
      justify-items: center;
      width: 31vw;
      font-size: 1vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      img {
        width: 2vw;
        margin: 0 1vw 0 0;
      }

      .positionSome {
        display: inline-block;
      }
    }

    .insta {
      height: 7vh;
      width: 15vw;
      border-radius: 1vw;
      color: #fff;
      font-size: 1vw;
      margin-top: 1vw;
      background-color: #22042d;
      text-align: left;
      padding: 0 0 0 3.3vw;
    }

    .fB {
      height: 7vh;
      width: 15vw;
      border-radius: 1vw;
      font-size: 1vw;
      color: #fff;
      margin-top: 1vw;
      background-color: #3b589e;
      text-align: left;
      padding: 0 0 0 3.2vw;
    }
  }

  #add-donation-form {
    display: grid;
    font-size: 1.2vw;
    grid-template-columns: 30vw 30vw;
    height: 40vw;
    color: $color2;

    .hidden {
      display: none;
    }

    .leftForm {
      width: 24vw;
      padding: 1vw 0 0 3vw;
      border-left: 0.2vw solid;

      .iconDonation {
        width: 3vw;
      }
      .img {
        width: 2vw;
      }
    }
    .rightForm {
      width: 25vw;
      padding: 1vw 0 0 3vw;
      img {
        width: 23.3vw;
      }
    }

    .navnForm {
      display: inline-block;
      width: 10vw;

      .navnW {
        width: 9vw;
        border: 0.1vw solid #6a82a0;
        height: 2.3vw;
      }
    }
    .efternavnForm {
      display: inline-block;
      width: 14vw;

      .eNavnW {
        width: 13vw;
        border: 0.1vw solid #6a82a0;
        height: 2.3vw;
      }
    }

    .emailW {
      width: 23.3vw;
      border: 0.1vw solid $color2;
      height: 2.3vw;
    }

    .landW {
      width: 23.5vw;
      padding: 0 0 0 8vw;
      height: 2vw;
      color: $color2;
    }

    .countryS {
      color: $color2;
      padding: 1vw;
    }
    .pengePlacering {
      width: 22vw;
      padding: 0.6vw 0 0.6vw 1vw;
      border: 0.1vw solid #6a82a0;
      color: $color2;
      font-size: 1vw;
    }
    .kort {
      width: 23vw;
      margin: 1vw 0 0vw 0;
    }
    #betalingDropdown {
      display: none;
      font-size: 0.8vw;
      margin: 0 0 0.5vw 0;
    }
    .fuldNavn {
      width: 23vw;
      border: 0.1vw solid #6a82a0;
      color: #6a82a0;
    }
    .dato {
      width: 11.2vw;
      border: 0.1vw solid #6a82a0;
      color: #6a82a0;
    }
    select {
      /* styling */
      background-color: white;
      border: 0.1vw solid $color2;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;

      /* reset */

      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    select.minimallandW {
      background-image: linear-gradient(45deg, transparent 50%, $color2 50%),
        linear-gradient(135deg, $color2 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 1.74vw) calc(1.2vw + 0vw),
        calc(100% - 1.3vw) calc(1.2vw + 0vw), calc(100% - 2.5em) 0.5vw;
      background-size: 0.5vw 0.5vw, 0.5vw 0.5vw, 0.1vw 1.5em;
      background-repeat: no-repeat;
      width: 23.4vw;
      padding: 0.5vw 0 0.5vw 8vw;
      margin: 0 0 1vw 0;
      color: #6a82a0;
    }

    select.minimallandW:focus {
      background-image: linear-gradient(45deg, $color2 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, $color2 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      border-color: $color2;
      outline: 0;
    }

    select.minimalTekstil {
      background-image: linear-gradient(45deg, transparent 50%, $color2 50%),
        linear-gradient(135deg, $color2 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 1.74vw) calc(1.2vw + 0vw),
        calc(100% - 1.3vw) calc(1.2vw + 0vw), calc(100% - 2.5em) 0.5vw;
      background-size: 0.5vw 0.5vw, 0.5vw 0.5vw, 0.1vw 1.5em;
      background-repeat: no-repeat;
      width: 23.4vw;
      padding: 0.5vw 0 0.5vw 6vw;
      margin: 0 0 2vw 0;
      color: #6a82a0;
    }

    select.minimalTekstil:focus {
      background-image: linear-gradient(45deg, $color2 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, $color2 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      border-color: $color2;
      outline: 0;
    }

    select.minimalFoder {
      background-image: linear-gradient(45deg, transparent 50%, $color2 50%),
        linear-gradient(135deg, $color2 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 1.74vw) calc(1.2vw + 0vw),
        calc(100% - 1.3vw) calc(1.2vw + 0vw), calc(100% - 2.5em) 0.5vw;
      background-size: 0.5vw 0.5vw, 0.5vw 0.5vw, 0.1vw 1.5em;
      background-repeat: no-repeat;
      width: 23.4vw;
      padding: 0.5vw 0 0.5vw 7vw;
      color: #6a82a0;
    }

    select.minimalFoder:focus {
      background-image: linear-gradient(45deg, $color2 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, $color2 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      border-color: $color2;
      outline: 0;
    }
  }

  .textil,
  .pleje {
    display: none;
  }
}

article {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  .largeColumn {
    grid-column: span 10;
    display: grid;
  }
  .biggerColumn {
    grid-column: span 7;

    .map {
    }
  }

  .halfColumn {
    grid-column: span 6;
  }
  .bigColumn {
    grid-column: span 5;
  }

  .smallColumn {
    grid-column: span 3;
    margin: 0 0 0 24vw;
    width: 20vw;
  }

  .smallColumnDb {
    grid-column: span 1;
    margin: 1vw 0 0 10vw;
    width: 12vw;
    text-align: center;
  }

  #wallPaper {
    justify-items: center;
    align-items: center;
    height: 30vw;
    background-color: $color1;
    background-image: url(../../image/header-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    img {
      width: 25vw;
    }
  }

  #category {
    height: 20vw;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: $color2;
    font-size: 1.5vw;

    .penge {
      width: 8vw;
    }
    .tekstil {
      width: 13vw;
    }
    .foder {
      width: 11vw;
    }
  }

  #donation {
    height: 38vw;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    background-color: $color5;

    #video {
      justify-items: center;
      align-items: center;
      display: grid;
    }

    .video {
      width: 40vw;
    }
    .bigColumn:first-child {
      grid-column: 2 / span 5;
    }

    #donator {
      margin: 0vw 0 0 3vw;
    }

    button {
      width: 31vw;
      height: 6vw;
      font-size: 3vw;
      margin: 6vw 0 0 0vw;
      color: #fff;
      background-color: #6a82a0;
      border-radius: 1.5vw;
      border: 4px solid #fff;
      background-image: url(../../image/givdonationknap.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    p {
      text-align: center;
      font-size: 1vw;
      margin: 1vw 0 0 0;
      width: 31vw;
    }
  }

  #donationInfo {
    height: 18vw;
    margin: 2vw 0 0 0;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / span 10;
    color: $color2;

    .information {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 13vw;
      font-size: 1.3vw;
      height: 16vw;
    }

    img {
      width: 10vw;
    }
  }

  #gallery {
    grid-template-columns: repeat(4, 1fr);

    .imgIndex {
      width: 25vw;
    }
  }

  footerIndex {
    min-height: 25vh;
    justify-items: center;
    align-items: center;
    background-image: url(../../image/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 19vw;
    text-align: center;
    padding: 3.5vw 0 0 0;

    .some {
      width: 15vw;
      margin: 0.5vw 0 0.5vw 0;
    }

    h2 {
      font-size: 1.2vw;
    }
    .mail {
      font-weight: 100;
      font-size: 2vw;
      margin: 2vw 0 2vw 0;
    }

    img {
      width: 3vw;
    }
  }
}

#wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 80vw;

  h1 {
    justify-self: center;
  }

  header {
    background-color: $color2;
    height: 15vw;
    grid-template-columns: 5vw 0vw 2vw 20vw;
    align-items: center;
    img {
      grid-column: 2 / span 1;
      width: 4.5vw;
    }

    h1 {
      color: white;
      font-size: 2vw;
      font-weight: 100;
    }
    .headerImg {
      width: 100vw;
    }
  }

  nav {
    grid-column: span 1;
    height: 100vh;
    display: grid;
    justify-items: center;
    background-color: $color1;
    position: fixed;
    width: 20vw;

    img {
      width: 13vw;
      margin: 1vw 0 0 0;
    }

    .menu {
      list-style-type: none;
      justify-self: center;
      position: fixed;
      width: 19vw;
      top: 18vw;
      left: 2vw;
      font-size: 1.5vw;

      li {
        margin: 2vw 0 0 1vw;
        height: 3vw;

        img {
          width: 2vw;
        }

        a {
          text-decoration: none;
          color: white;
          justify-items: center;
          align-items: center;
        }
      }
    }
  }

  #dashboard {
    grid-column: span 1;
    width: 80vw;
    margin: 0 0 0 20vw;

    height: 75vw;
    grid-template-rows: 14vw auto auto 12vw;

    .donated {
      border-bottom: 2px solid $color2;
      color: $color2;
      margin: 4vw 0 0 0;
      font-size: 1vw;

      img {
        width: 11vw;
      }

      .pengeDb {
        width: 7vw;
      }
    }
    h3 {
      color: $color2;
      display: inline-block;
      margin: 0.7vw 0vw 0 2.5vw;
    }
    .settings {
      grid-row: span 1;
      display: grid;
      grid-template-rows: auto auto;

      button {
        width: 20vw;
        height: 4vw;
        font-size: 1.4vw;
        color: #242f41;
        margin: 0 6vw 0 0;
        background-color: #e0ecfc;
        border: 0.1vw solid #242f41;
      }
      #profile {
        min-height: 40vh;
        width: 38vw;
        padding: 2vh 0 1vw 0;
        border-right: 2px solid $color2;
        border-bottom: 2px solid $color2;

        .bottomPos {
          margin: 2vw 0 0 3vw;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: flex-end;
        }

        img {
          width: 5vw;
        }
      }

      #fundraise {
        min-height: 30vh;
        width: 38vw;
        padding: 0.9vw 0 0 0;
        border-right: 2px solid $color2;

        .bottomPos {
          margin: 2vw 0 0 3vw;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: flex-end;
        }
      }

      #goals {
        min-height: 50vh;
        border-top: 2px solid $color2;
        display: grid;
        padding: 0 0 1vw 1vw;
        width: 41vw;
        grid-template-columns: repeat(2, 1fr);
        color: $color2;

        img {
          width: 8vw;
        }

        .information {
          display: grid;
          justify-items: center;
          align-items: center;
          width: 16vw;
          font-size: 1.3vw;
          height: 14vw;
        }
        .bottomPos {
          width: 20vw;
          height: 4vw;
          font-size: 1.4vw;
          color: #242f41;
          grid-column: span 2;
          margin: 0 6vw 0 2vw;
          background-color: #e0ecfc;
        }
      }

      #categories {
        min-height: 30vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 1vw;

        .bottomPos {
          width: 20vw;
          height: 4vw;
          font-size: 1.4vw;
          color: #242f41;
          grid-column: span 3;
          margin: 0 6vw 0 2vw;
          background-color: #e0ecfc;
        }

        .penge {
          width: 7vw;
        }
        .tekstil {
          width: 12vw;
        }
        .foder {
          width: 10.9vw;
        }
        .settingsAvatar {
          width: 5vw;
          display: inline-block;
        }

        .dashboardKategori {
          width: 20vw;
          height: 4vw;
          font-size: 1.4vw;
          color: #242f41;
          grid-column: span 3;
          margin: 0 6vw 0 0;
          background-color: #e0ecfc;
          border: 0.1vw solid #242f41;
        }

        .smallColumnSettings {
          color: $color2;
          text-align: center;
          margin: 1vw;
        }
      }
    }

    .details {
      grid-template-columns: repeat(12, 1fr);
      color: $color2;

      #time {
        display: grid;
        justify-items: center;
        align-items: center;
        border-right: 2px solid $color2;
        color: $color2;
        padding: 2vw 0 0 0;

        img {
          width: 10vw;
        }
      }

      #history {
        border-right: 2px solid $color2;
      }

      #country {
        display: grid;
        width: 35vw;
        margin: 0 0 1vw 4vw;

        h4 {
          color: $color1;
        }

        img {
          width: 1vw;
        }

        .mapInfo {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center;
          margin: 0 0 0 1vw;

          p {
            text-align: center;
          }
        }

        .kortInfo {
          width: 13vw;
          position: absolute;
          top: 17vw;
          left: 77vw;
        }
      }

      #history {
        display: grid;
        justify-items: center;
        align-items: center;
        height: 22vw;
      }

      #history,
      #allDonation {
        border-top: 2px solid $color2;
        display: grid;
        justify-items: center;
        align-items: center;

        img {
          width: 3vw;
        }
      }
    }

    .category {
      justify-items: center;
      align-items: center;
    }

    footer {
      height: 11.9vw;
      min-height: 0;
      background-color: $color2;
    }
  }
}

.display {
  display: grid;
}

#overallDonations {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 90% 10%;
  width: 35vw;
  height: 250px;
  grid-gap: 10px;
}

.graph {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column: span 10;
  grid-gap: 10px;
  border: 1px solid black;
  align-items: flex-end;
  overflow: hidden;
}

.week {
  background-color: $color1;
}

.week:nth-child(2n) {
  background-color: $color2;
}

span {
  text-align: center;
}

.kortSpan {
  text-align: center;
  margin: 0 3vw 0 0;
}

@media only screen and (max-width: 700px) {
  article #donation p {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 500px) {
  .headerPopUp {
    height: 30vw;
    width: 80vw;
    background-color: $color2;

    img {
      width: 31vw;
      margin: 1vw 0 0 25vw;
    }
  }
  .footerPopUp {
    height: 25vw;
    width: 80vw;
    margin-top: 3vh;
    background-color: $color2;
  }
  .popUp {
    position: absolute;
    width: 80vw;
    left: 8vw;
    height: auto;
    background-color: #fff;
    display: none;

    .close {
      width: 15vw;
      position: absolute;
      top: 1vw;
      left: 61vw;
      height: 5vw;
      font-size: 2vw;
      color: #242f41;
      margin: 0 6vw 0 0;
      background-color: #e0ecfc;
      border: 0.1vw solid #242f41;
    }
    #giveDonation {
      height: 12vw;
      grid-column: span 2;
      width: 56vw;
      border-radius: 1vw;
      border: 0.5vw solid #fff;
      justify-self: center;
      margin: 4vw 0 0 12vw;
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      font-size: 5vw;
      background-image: url(../../image/givdonationknap.jpg);
    }

    .country,
    .email {
      width: 100%;
    }
    .done {
      display: none;
      grid-template-columns: repeat(2, 1fr);
      margin: 2vw 0 0 0;
      height: auto;

      h2,
      span {
        grid-column: span 2;
        text-align: center;
        font-size: 4.2vw;
        justify-self: center;
        color: $color2;
      }

      img {
        width: 70vw;
        justify-self: center;
        grid-column: span 2;
        margin: 2vw 0 2vw 0;
      }
      .buttons {
        grid-column: span 2;
        justify-self: center;
        justify-items: center;
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 5vh;

        img {
          width: 7vw;
          margin: 0 1vw 0 0;
        }

        .positionSome {
          display: inline-block;
        }
      }

      .insta {
        height: 7vh;
        width: 30vw;
        font-size: 3vw;
        border-radius: 1vw;
        color: #fff;
        margin-top: 1vw;
        background-color: #22042d;
        text-align: left;
        padding: 0 0 0 3.3vw;
      }

      .fB {
        height: 7vh;
        width: 30vw;
        font-size: 3vw;
        border-radius: 1vw;
        color: #fff;
        margin-top: 1vw;
        background-color: #3b589e;
        text-align: left;
        padding: 0 0 0 3.2vw;
      }
    }

    #add-donation-form {
      display: grid;
      grid-template-columns: 100%;
      height: 100%;
      color: $color2;

      .hidden {
        display: none;
      }

      .leftForm {
        font-size: 3vw;
        width: 80vw;
        height: auto;
        padding: 1vh 0 0 2.5vh;
        border-left: none;
        margin-top: 2vh;

        .iconDonation {
          width: 15vw;
        }
        .img {
          width: 10vw;
          margin-top: 4vh;
        }
      }
      .rightForm {
        width: 80vw;
        padding: 1vw 0 0 3vw;
        height: 45vw;
        font-size: 3vw;
        img {
          width: 23.3vw;
          display: none;
        }
      }

      .navnForm {
        display: inline-block;
        width: 73vw;

        .navnW {
          width: 73vw;
          border: 0.1vw solid #6a82a0;
          height: 7vw;
        }
      }
      .efternavnForm {
        display: inline-block;
        width: 73vw;

        .eNavnW {
          width: 73vw;
          border: 0.1vw solid #6a82a0;
          height: 7vw;
        }
      }

      .emailW {
        width: 73vw;
        border: 0.1vw solid $color2;
        height: 7vw;
      }

      .landW {
        width: 73vw;
        padding: 0 0 0 8vw;
        height: 2vw;
        color: $color2;
      }

      .countryS {
        color: $color2;
        padding: 1vw;
      }
      .pengePlacering {
        width: 70vw;
        height: 8vw;
        padding: 0vw 0 0vw 2vw;
        border: 0.1vw solid #6a82a0;
        color: #6a82a0;
        font-size: 3vw;
      }
      .kort {
        width: 72vw;
        margin: 1vw 4vw 0vw 0;
      }
      #betalingDropdown {
        display: none;
        font-size: 2.8vw;
        width: 72vw;
        margin: 0 0 0.5vw 0;
      }
      .fuldNavn {
        width: 70vw;
        border: 0.1vw solid #6a82a0;
        color: #6a82a0;
      }
      .dato {
        width: 34.8vw;
        border: 0.1vw solid #6a82a0;
        color: #6a82a0;
      }

      select {
        /* styling */
        background-color: white;
        border: 0.1vw solid $color2;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;

        /* reset */

        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      select.minimallandW {
        background-image: linear-gradient(45deg, transparent 50%, $color2 50%),
          linear-gradient(135deg, $color2 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        width: 73vw;
        padding: 0.5vw 0 0.5vw 8vw;
        margin: 0 0 5vw 0;
        color: #6a82a0;
      }

      select.minimallandW:focus {
        background-image: linear-gradient(45deg, $color2 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, $color2 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
          calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        border-color: $color2;
        outline: 0;
      }

      select.minimalTekstil {
        background-image: linear-gradient(45deg, transparent 50%, $color2 50%),
          linear-gradient(135deg, $color2 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        width: 73vw;
        padding: 0.5vw 0 0.5vw 6vw;
        margin: 0 0 5vw 0;
        color: #6a82a0;
      }

      select.minimalTekstil:focus {
        background-image: linear-gradient(45deg, $color2 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, $color2 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
          calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        border-color: $color2;
        outline: 0;
      }

      select.minimalFoder {
        background-image: linear-gradient(45deg, transparent 50%, $color2 50%),
          linear-gradient(135deg, $color2 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        width: 73vw;
        padding: 0.5vw 0 0.5vw 7vw;
        color: #6a82a0;
      }

      select.minimalFoder:focus {
        background-image: linear-gradient(45deg, $color2 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, $color2 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
          calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        border-color: $color2;
        outline: 0;
      }
    }
  }
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    .largeColumn {
      grid-column: span 10;
      display: grid;
    }

    .biggerColumn {
      grid-column: span 7;
    }

    .halfColumn {
      grid-column: span 6;
    }
    .bigColumn {
      grid-column: span 5;
    }

    .smallColumn {
      grid-column: span 2;
      width: 37vw;
      margin: 0 0 0 0;
    }

    .smallColumnDb {
      grid-column: span 1;
      width: 33vw;
      text-align: center;
      margin: 6vw 0 0 0vw;
    }

    #wallPaper {
      justify-items: center;
      align-items: center;
      height: 30vw;
      background-color: $color1;
      background-image: url(../../image/header-01.jpg);
      background-repeat: no-repeat;
      background-size: cover;

      img {
        width: 25vw;
      }
    }

    #category {
      height: 35vw;
      grid-template-columns: repeat(6, 1fr);
      display: grid;
      /* justify-items: center; */
      /* align-items: center; */
      text-align: center;
      color: #6a82a0;
      font-size: 3.5vw;

      .penge {
        width: 17vw;
      }
      .tekstil {
        width: 30vw;
      }
      .foder {
        width: 27vw;
      }
    }

    #donation {
      height: 100%;
      padding: 0px 0 4vw 0;
      grid-template-columns: repeat(1, 1fr);
      display: grid;
      background-color: $color5;

      #video {
        justify-items: center;
        align-items: center;
        display: grid;
      }

      .video {
        width: 80vw;
        margin: 4vw 0 4vw 0;
      }
      .bigColumn:first-child {
        grid-column: 1 / span 1;
      }
      .bigColumn:last-child {
        grid-column: 1 / span 1;
      }

      #donator {
        justify-items: center;
        align-items: center;
        display: grid;
        margin: 0 0 0 8vw;
        width: 85vw;
      }

      button {
        width: 80vw;
        height: 18vw;
        font-size: 7vw;
        margin: 0;
        color: #fff;
        background-color: #6a82a0;
        border-radius: 1.5vw;
        border: 0.5vw solid #fff;
        background-image: url(../../image/givdonationknap.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }

      p {
        text-align: center;
        font-size: 4vw;
        margin: 1vw 0 0 0;
        width: 75vw;
      }
    }
    #donationInfo {
      height: 100%;
      padding: 8vw 0 20vw 0;
      margin: 0vw 0 0 5vw;
      grid-template-columns: repeat(2, 1fr);
      grid-column: 1 / span 10;
      color: $color2;

      .information {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 42vw;
        font-size: 4.3vw;
        height: 40vw;
      }

      img {
        width: 30vw;
      }
    }

    #gallery {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 5vw;

      .imgIndex {
        width: 50vw;
      }
    }

    footerIndex {
      justify-items: center;
      align-items: center;
      background-image: url(../../image/footer.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      height: 50vw;
      text-align: center;
      padding: 3.5vw 0 0 0;

      .some {
        width: 27vw;
        margin: 0.5vw 0 0.5vw 0;
        margin: 0.5vw 0 0.5vw 0;
      }

      h2 {
        font-size: 4.2vw;
      }
      .mail {
        font-weight: 100;
        font-size: 6vw;
        margin: 2vw 0 2vw 0;
      }

      img {
        width: 8vw;
      }
    }
  }

  #wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;

    h1 {
      justify-self: center;
    }

    header {
      background-color: #6a82a0;
      height: 15vw;
      grid-template-columns: 28vw 14vw 2vw 20vw;
      align-items: center;
      justify-items: center;
      img {
        grid-column: 2 / span 1;
        width: 7.5vw;
      }

      h1 {
        color: white;
        font-size: 4vw;
        font-weight: 100;
      }
      .headerImg {
        width: 100vw;
      }
    }

    nav {
      grid-column: span 1;
      height: 30vw;
      display: grid;
      justify-items: center;
      background-color: $color1;

      position: relative;
      width: 100vw;

      img {
        width: 29vw;
        margin: 1vw 0 0 0;
      }

      .menu {
        list-style-type: none;
        justify-self: center;
        position: fixed;
        width: 19vw;
        top: 0vw;
        left: 2vw;
        font-size: 1.5vw;

        li {
          margin: 2vw 0 0 1vw;
          height: 3vw;

          img {
            width: 2vw;
          }

          a {
            text-decoration: none;
            color: white;
            justify-items: center;
            align-items: center;
          }
        }
      }
    }
    #dashboard {
      grid-column: span 1;
      width: 100vw;
      margin: 0vw 0 0 0vw;
      grid-template-rows: 20vw 65vw 48vw;

      .donated {
        grid-template-rows: 2vw 15vw;
        border-bottom: 2px solid $color2;
        color: $color2;
        font-size: 3vw;
        margin: 1vw 0 0 0;

        img {
          width: 28vw;
        }

        .pengeDb {
          width: 20vw;
        }
      }
      h3 {
        color: $color2;
        display: inline-block;
        margin: 0.7vw 0vw 0 2.5vw;
      }
      .settings {
        grid-row: span 1;
        display: grid;
        grid-template-rows: auto auto;

        button {
          width: 32vw;
          height: 10vw;
          font-size: 3.4vw;
          color: #242f41;
          margin: 0 6vw 0 0;
          background-color: #e0ecfc;
          border: 0.1vw solid #242f41;
        }
        #profile {
          min-height: 37vh;
          width: 100vw;
          padding: 0 0 1vw 0;
          border-right: 2px solid $color2;
          border-bottom: 2px solid $color2;

          .bottomPos {
            margin: 2vw 0 0 3vw;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: flex-end;
          }

          img {
            width: 10vw;
          }
        }

        #fundraise {
          min-height: 30vh;
          width: 100vw;
          padding: 2vw 0 5vw 0;
          border-bottom: 2px solid #6a82a0;

          .bottomPos {
            margin: 2vw 0 0 3vw;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: flex-end;
          }
        }

        #goals {
          min-height: 60vh;
          border-top: 2px solid $color2;
          display: grid;
          padding: 0 0 1vw 1vw;

          width: 100vw;

          grid-template-columns: repeat(2, 1fr);
          color: $color2;

          img {
            width: 27vw;
          }

          .information {
            display: grid;
            justify-items: center;
            align-items: center;
            width: 50vw;
            font-size: 4.3vw;
            height: 50vw;
          }
          .bottomPos {
            width: 32vw;
            height: 10vw;
            font-size: 1.4vw;
            color: #242f41;
            grid-column: span 2;
            margin: 0 6vw 0 2vw;
            background-color: #e0ecfc;
          }
        }

        #categories {
          min-height: 34vh;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          margin: 1vw;

          .bottomPos {
            width: 20vw;
            height: 4vw;
            font-size: 1.4vw;
            color: #242f41;
            grid-column: span 3;
            margin: 0 6vw 0 2vw;
            background-color: #e0ecfc;
          }

          .penge {
            width: 21vw;
          }
          .tekstil {
            width: 35vw;
          }
          .foder {
            width: 31.9vw;
          }
          .settingsAvatar {
            width: 5vw;
            display: inline-block;
          }

          .dashboardKategori {
            width: 20vw;
            height: 4vw;
            font-size: 1.4vw;
            color: #242f41;
            grid-column: span 3;
            margin: 0 6vw 0 0;
            background-color: #e0ecfc;
            border: 0.1vw solid #242f41;
          }

          .smallColumnSettings {
            color: #6a82a0;
            text-align: center;
            margin: 1vw;
          }
        }
      }

      .details {
        grid-template-columns: repeat(12, 1fr);

        #time {
          display: grid;
          width: 100vw;
          height: 60vw;
          justify-items: center;
          align-items: center;
          border-bottom: 2px solid #6a82a0;
          padding: 2vw 0 0 0;

          img {
            width: 25vw;
          }
        }

        #history {
          border-right: 2px solid $color2;
          height: 100%;
        }

        #country {
          display: grid;
          width: 100vw;
          margin: 0;

          .mapInfo {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;

            p {
              font-size: 4vw;
            }
          }
          .kortInfo {
            width: 51vw;
            font-size: 3.5vw;
            position: absolute;
            top: 114vw;
            left: 52vw;
          }
        }

        #history {
          display: grid;
          justify-items: center;
          align-items: center;
          border: none;
        }

        #history,
        #allDonation {
          border-top: 2px solid $color2;
        }
      }

      .category {
        justify-items: center;
        align-items: center;
      }

      footer {
        height: 20vw;
        min-height: 0;
        background-color: $color2;
      }
    }
  }

  .display {
    display: grid;
  }
}
@media only screen and (max-width: 500px) {
  .kortSpan::before {
    content: " ";
    clear: right;
    display: block;
  }

  #overallDonations {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 40vw 10vw;
    width: 90vw;
    height: 50vw;
    grid-gap: 10px;
    margin-top: 3vw;
  }

  .graph {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column: span 10;
    grid-gap: 10px;
    border: 1px solid black;
    align-items: flex-end;
    overflow: hidden;
  }

  .week {
    background-color: $color1;
  }

  .week:nth-child(2n) {
    background-color: $color2;
  }

  span {
    text-align: center;
  }

  .kortSpan {
    text-align: center;
    margin: 0;
  }

  .accordion {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    color: #444;
    cursor: pointer;
    margin: 2vw;
    padding: 2vw;
    background-color: #3d5566;
    height: 30px;
    width: 30px;
    text-align: left;
    border-radius: 5px;
    outline: none;
    transition: 0.4s;
    z-index: 10;
  }

  .accordion:hover {
    transform: scale(1.1, 1.1);
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 3px;
    background-color: #ede5df;
    margin: 6px 0;
    transition: 0.4s;
  }

  #wrapper nav .menu {
    display: none;
    grid-gap: 20px;
    list-style-type: none;
    justify-self: center;
    position: fixed;
    width: 100vw;
    top: 0vw;
    height: 25vh;
    text-align: center;
    background-color: $color2;
    left: 0;
    font-size: 2.5vw;

    li {
      font-size: 4vw;
      margin-top: 6vw;

      img {
        width: 3vw;
      }
    }
  }

  .mobileSetting {
    display: block !important;
  }

  #allDonation ul {
    width: 100vw;
  }

  #allDonation li {
    list-style-type: none;
    align-items: center;
    display: grid;
    grid-template-columns: 10% 45% 45%;
    list-style-type: none;
    width: 100vw;
  }

  #admin input {
    float: right;
    margin-right: 5vw;
    margin-top: 0;
    width: 50vw;
    border: 1px solid $color2;
  }

  #login .wrapper {
    width: 100vw;
    /* margin: 10vw 0 0 25vw; */
    min-height: 100vh;
    height: auto;
    background-color: #242f41;

    .loginBox {
      display: block;
    }

    img {
      width: 64vw;
      margin: 12vw 0 0 5vw;
    }

    h2 {
      color: #fff;
      font-size: 5.2vw;
      text-align: left;
      margin: 5vw 0 0 4vw;
    }

    .pengePlacering {
      width: 65vw;
      height: 6vw;
      margin: 3vw 0 0 4vw;
      /* margin: 0 auto; */
      font-size: 4vw;
    }

    .bottomLogin {
      width: 75vw;

      p {
        font-size: 3.5vw;
        margin-left: 5vw;
      }
    }

    button {
      width: 27vw;
      /* font-size: 17vw; */
      height: 10.4vw;
      font-size: 4.2vw;
      color: #fff;
      margin: 5vw 0.5vw 0 4.5vw;
      background-color: #242f41;
      border: 0.1vw solid #fff;
    }
  }

  #admin #wrapper #dashboard .settings {
    grid-row: span 1;
    display: grid;
    height: 64vh;
    grid-template-rows: auto auto;

    #profile {
      border: none;
      min-height: 102vh;
    }
  }
}
#admin #dashboard .settings #profile {
  height: 100vh;
  padding: 0;
  margin: 0;
  border-bottom: none;
}

.profileForms {
  display: none;
  position: absolute;
  height: 80%;
  width: 60%;
  top: 5%;
  left: 20%;
  background-color: white;
}
